{% load static %}
 <!--Start Error Page Area-->
        <section class="error-page-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="error-content text-center">
                            <span>Page Not Found</span>
                            <div class="title">404</div>
                            <p>We’re unable to find a page you are looking for, Try later or click the button.</p>
                            <div class="button">
                                <a class="btn-one" href="/">Back to Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><br>
        <!--End Error Page  wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms" Area-->
