{% extends 'ik/homebase.html' %}
{% load static %}
{% block content %}

<style type="text/css">
    .about_bg{
    color:white;
    background: url("{% static 'ikpixels/images/hero-bg.jpg' %}") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
.about_bg .layy{
    background:rgb(0,0,0,0.8);
    height: 100%;
    width: 100%;
 
}

</style>

 <!--Start breadcrumb area-->
        <section class="breadcrumb-area about_bg">
            <div class="layy">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content clearfix">
                            <div class="title">
                                <h1>We are big <br>digital agency in Malawi.</h1>
                            </div>
                            <div class="breadcrumb-menu float-right">
                                <ul class="clearfix">
                                    <li><a href="/">Home</a></li>
                                    <li class="active">About</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!--End breadcrumb area-->

        <!--Start Company Overview Area-->
        <section class="company-overview-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="intro-box clearfix">
                            <div class="sec-title">
                                <p>Company Overview</p>
                                <div class="title">We specializes in <br> beautiful and easy to use<br> <span> digital design & web development services.</span></div>
                            </div>
                            <div class="text">
                                <p>IKpixels is a reputed and well known company offering website design, website development,graphic design and other digital marketing solutions in Malawi.</p>
                                <p> We provide the most eye catchy and comprehensive products to small and large businesses across varied industries in Malawi.Our goal at IKpixels, is to work with small business to meet their sales goal and push through.</p>
                                <p>We work hard to understand each client’s industry and their online marketing goals, so that we may bring fresh ideas to the table and create products that is unique and reflects the business perfectly.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="history-content-box clearfix">
                            <div class="history-carousel owl-carousel owl-theme">
                                <!--Start Single History Content-->
                                <div class="single-history-content">
                                    <div class="img-box">
                                        <div class="inner">
                                            <img src="{% static 'ik/images/ik/ikf.png' %}" alt="Awesome Image">
                                        </div>
                                    </div>
                                    <div class="text-box">
                                        <div class="inner">
                                            <div class="date">
                                                <h3>2016</h3>
                                            </div>
                                            <div class="title">
                                                <h3>IKpixels-tech Was Founded by<br> Isaac Kakodwa in Malawi.</h3>
                                            </div>
                                            <div class="text">
                                                <p>Founder of IKpixels, had humble begining in web developent and graphic desning in 2016 His initial stint began while he was studying his Bacholor Sience in Agribusines Management (ABM) at Lilongwe University of Agriculture and Natural Resources (LUANAR) as he developed a keen interest in python (Django),javascript and PHP programing.As he doesn't have IT background, he work hard to learn those techinologies.</p>
                                                <a class="btn-two" href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3B53iamiOOTCic23qRjMn6NQ%3D%3D">Read More<span class="flaticon-next"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single History Content-->
                                <!--Start Single History Content-->
                                <div class="single-history-content">
                                    <div class="img-box">
                                        <div class="inner">
                                            <img src="{% static 'ik/images/ik/bg3.jpg' %}" alt="Awesome Image">
                                        </div>
                                    </div>
                                    <div class="text-box">
                                        <div class="inner">
                                            <div class="date">
                                                <h3>Vision</h3>
                                            </div>
                                            <div class="title">
                                                <h3>As Digital Marketing group, Our vision is to be number one Digital Marketing agency in Malawi.</h3>
                                            </div>
                                            <div class="text">
                                                <p></p>
                                                <a class="btn-two" href="/contactus">Get A Quote<span class="flaticon-next"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single History Content-->
                                <!--Start Single History Content-->
                                <div class="single-history-content">
                                    <div class="img-box">
                                        <div class="inner">
                                            <img src="{% static 'ik/images/ik/ik1.png' %}" alt="Awesome Image">
                                        </div>
                                    </div>
                                    <div class="text-box">
                                        <div class="inner">
                                            <div class="date">
                                                <h3>Mission</h3>
                                            </div>
                                            <div class="title">
                                                <h3>IKpixels vision is to promote small Business in Malawi through digital marketing.</h3>
                                            </div>
                                            <div class="text">
                                                <p></p>
                                                <a class="btn-two" href="/contactus">Get A Quote<span class="flaticon-next"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single History Content-->
                              
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row fact-counter">
                    <!--Start Single Fact Counter-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-fact-counter wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h1>
                                    <span class="timer" data-from="1" data-to="08" data-speed="5000" data-refresh-interval="50">08</span>
                                </h1>
                            </div>
                            <div class="title">
                                <h3>Years of<br> Experience</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Single Fact Counter-->
                    <!--Start Single Fact Counter-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-fact-counter wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h1>
                                    <span class="timer" data-from="1" data-to="50" data-speed="5000" data-refresh-interval="50">10</span>
                                    <img src="images/icon/k.png" alt="">
                                </h1>
                            </div>
                            <div class="title">
                                <h3>Projects<br> Completed</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Single Fact Counter-->
                    <!--Start Single Fact Counter-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-fact-counter wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h1>
                                    <span class="timer" data-from="1" data-to="20" data-speed="5000" data-refresh-interval="50">01</span>
                                </h1>
                            </div>
                            <div class="title">
                                <h3>Our<br>Team</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Single Fact Counter-->
                    <!--Start Single Fact Counter-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-fact-counter wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="count-box">
                                <h1>
                                    <span class="timer" data-from="1" data-to="47" data-speed="5000" data-refresh-interval="50">5</span>
                                </h1>
                            </div>
                            <div class="title">
                                <h3>Our<br>Clients</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Single Fact Counter-->
                </div>

            </div>
        </section>
        <!--End Company Overview Area-->


        <!--Start Team Area-->
        <section class="team-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                       
                        <div class="sec-title with-text max-width text-center wow fadeInDown" data-wow-delay="100ms" data-wow-duration="1200ms">
                    <p></p>
                    <div class="title">Behind Our <span>Company</span> </div>
                    <p class="bottom-text">Expert & Experinced <span>Team.</p>
                </div>
                        
                </div>
                </div>
                <div class="row">
                    {% for team in team %}
                    <!--Start Single Team Member-->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-team-member">
                            <div class="img-holder">
                                <img src="{{team.image.url}}" alt="Awesome Image">
                                <ul class="sociallinks">
                                    <li><a href="{{team.fb}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="{{team.tw}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="{{team.you}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="{{team.gg}}"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                                </ul>
                                <div class="overlay">
                                    <div class="box">
                                        <div class="link">
                                            <a class="btn-two" href="">View Profile<span class="flaticon-next"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="name text-center">
                                <p><span>{{team.post}}</span></p>
                                <h3>{{team}}</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Single Team Member-->
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--End Team Area-->

        <!--Start Brand area style2-->
        {% include 'ik/client.html' %}
        <!--End Brand area style2-->
        {% endblock %}