{% load static %}

<!--################### Count Starts Here #######################--->
<section class="ik-form">
       <div id="why" class="our-capablit container-fluid layy">
           <div class="">
               <div class="container">
                  <div class="row">
                    <div class="col-md-3">
                       <div class="cap-det">
                           <!-- Progress bar 1 -->
                            <div class="progress mx-auto" data-value='80'>
                              <span class="progress-left">
                                    <span class="progress-bar border-primary"></span>
                              </span>
                              <span class="progress-right">
                                    <span class="progress-bar border-primary"></span>
                              </span>
                              <div style="font-size:40px;font-weight:bold;"  class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <span  data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="2" class="purecounter"></span>+
                              </div>
                            </div>
                            <!-- END -->
                           <h6>Projects</h6>
                           
                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="cap-det">
                          <!-- Progress bar 1 -->
                            <div class="progress mx-auto" data-value='80'>
                              <span class="progress-left">
                                    <span class="progress-bar border-primary"></span>
                              </span>
                              <span class="progress-right">
                                    <span class="progress-bar border-primary"></span>
                              </span>
                              <div style="font-size:40px;font-weight:bold;" class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <span  data-purecounter-start="0" data-purecounter-end="91" data-purecounter-duration="2" class="purecounter"></span>+
                              </div>
                            </div>
                            <!-- END -->
                           <h6>Happy Clients</h6>
                           
                       </div>
                   </div>
                   <div class="col-md-3">
                       <div class="cap-det">
                          <!-- Progress bar 1 -->
                            <div class="progress mx-auto" data-value='80'>
                              <span class="progress-left">
                                    <span class="progress-bar border-primary"></span>
                              </span>
                              <span class="progress-right">
                                    <span class="progress-bar border-primary"></span>
                              </span>
                              <div style="font-size:40px;font-weight:bold;"  class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="2" class="purecounter"></span>+
                              </div>
                            </div>
                            <!-- END -->
                           <h6>Our Team</h6>
                           
                       </div>
                   </div>
                   
                   <div class="col-md-3">
                       <div class="cap-det">
                          <!-- Progress bar 1 -->
                            <div class="progress mx-auto" data-value='80'>
                              <span class="progress-left">
                                    <span class="progress-bar border-primary"></span>
                              </span>
                              <span class="progress-right">
                                    <span class="progress-bar border-primary"></span>
                              </span>
                              <div style="font-size:40px;font-weight:bold;"  class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <span  data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="2" class="purecounter"></span>+
                              </div>
                            </div>
                            <!-- END -->
                           <h6>Years of Experience</h6>
                           
                       </div>
                   </div>
                  </div>
               </div>
           </div>
       </div>
</section>
