{% extends 'ik/homebase.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<style type="text/css">
    .profile{
    color:white;
    background: url("{% static 'ikpixels/images/hero-bg.jpg' %}") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
.profile .layy{
    background:rgb(0,0,0,0.8);
    height: 100%;
    width: 100%;
 
}

</style>

<!--Start breadcrumb area-->
        <section class="breadcrumb-area style2 profile">
            <div class="layy">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content-box clearfix">
                            <div class="title-s2 text-center">
                                <span>Profile</span>
                                <h1>Edit your Profile</h1>
                            </div>
                            <div class="breadcrumb-menu float-left">
                                <ul class="clearfix">
                                    <li><a href="/">Home</a></li>
                                    <li class="active">Profile</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section><br>
        <!--End breadcrumb area-->
    
    <div class="container">
        <div class="row">
                <div class="col-sm-3 col-lg-3 mb-3"></div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <section class="ik-form">
                    <div class="checkout-address layy">
                        <br>
                        <form class="needs-validation" novalidate>
                            
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">First name *</label>
                                    {% render_field userForm.first_name class="form-control" placeholder="First Name" %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Last name *</label>
                                     {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">Phone *</label>
                                    {% render_field customerForm.mobile class="form-control" placeholder="Mobile" %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Email Addres</label>
                                    {% render_field customerForm.address class="form-control" placeholder="Address" %}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">Username</label>
                                    {% render_field userForm.username class="form-control" placeholder="Username" %}
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Password *</label>
                                    {% render_field userForm.password class="form-control" placeholder="Password" %}
                                </div>
                            </div>

                            <div class="">
                                    {% render_field customerForm.profile_pic class="form-control" placeholder="Profile Picture" %}
                            </div>
                           <button class="btn-one" type="submit" class="btnSubmit">Submit</button>
                    </div>
                    </section>
                </div>
            </div> 
    </div>
    
{% endblock content %}