{% extends 'ik/homebase.html' %}
{% load static %}
{% block content %}


<style type="text/css">
    .services{
    color:white;
    background: url("{% static 'ikpixels/images/hero-bg.jpg' %}") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
.services .layy{
    background:rgb(0,0,0,0.8);
    height: 100%;
    width: 100%;
 
}

</style>
 <!--Start breadcrumb area-->
        <section class="breadcrumb-area style2 services" style="">
            <div class="layy">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content-box clearfix">
                            <div class="title-s2 text-center">
                                <span>Service</span>
                                <h1>Branding</h1>
                            </div>
                            <div class="breadcrumb-menu float-left">
                                <ul class="clearfix">
                                    <li><a href="/">Home</a></li>
                                    <li class="active">Service</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!--End breadcrumb area-->

        <!--Start Single Service Area-->
        <section class="single-service-area">
            <div class="container">
                <div class="row">
                    
                    <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                        <div class="single-service-top">
                            <div class="single-service-image-box">
                                <img src="{%static 'ik/images/ik/branding.gif' %}" alt="Awesome Image">
                            </div>
                            <div class="text">
                                <h2>Branding</h2>
                                <div class="inner">
                                    <p>Brand reputation is the first sign of a growing business. Creating a value proposition and building customer experiences is what keeps customers buying more and keeps them loyal to the brand.</p>
                                    <p>Flyers,brochures, and catalogs may seem like the advertising collaterals of the past. But if done right, these traditional forms of advertising are still a very effective form of communicating with your audience.Calling cards, letterheads, posters, and the likes can be effective in bringing out your brand to your target market.</p>
                                </div>
                            </div>
                        </div>

                        <div class="advantages-content">
                            <h4>BRANDING SERVICES WE OFFER</h4><br>
                            <div class="row">
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">
                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                    <span class="icon-paint"></span>
                                                </div>
                                                <div class="title">
                                                    <h3>Logo Design</h3>
                                                </div>
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <p>A quality logo is the first step towards success.Grow your business on all channels with a credible and consistent brand.We design Wordmarks, Letterforms, monogram, symbols, Abstract, Mascots, Emblems and Dynamic logos</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                                
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">
                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                    <span class="icon-document"></span>
                                                </div>
                                                <div class="title">
                                                    <h3>Print Design</h3>
                                                </div>
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <p>We design Business cards,Branded packaging, labels and shopping bags, Brochures, Billboards, Book covers and interiors, Magazines and newspapers, Signage, Stationery, Greeting cards and invitations, Calendars, Posters, Menus and Banners.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
                        <div class="single-service-sidebar">
                            <!--Start Single sidebar-->
                            <div class="single-sidebar">
                                <ul class="service-pages">
                                    <li>
                                        <a href="/webdesign">
                                            <div class="title">
                                                <h3 class="static">Web Design</h3>
                                                <div class="overlay-title">
                                                    <h3>Web Design</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="title">
                                                <h3 class="static">Development</h3>
                                                <div class="overlay-title">
                                                    <h3>Development</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="ser-make-overs.html">
                                            <div class="title">
                                                <h3 class="static">Branding</h3>
                                                <div class="overlay-title">
                                                    <h3>Branding</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    

                                </ul>
                            </div>
                            <!--End Single sidebar-->
                            <div class="sidebar-contact-box text-center">
                                <div class="inner-content">
                                    <div class="icon-holder">
                                        <span class="icon-support1"></span>
                                    </div>
                                    <h3>Consult with expert &<br> Start today</h3>
                                    <div class="bottom-box">
                                        <h2>+265 993 344 416</h2>
                                        <span>Email: ikpixels.py@gmail.com</span>
                                    </div>
                                    <div class="button">
                                        <a class="btn-one wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms" href="/contactus">Get A Quote
                                    <span class="flaticon-next"></span>
                                </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Single Service Area-->

{% endblock content %}