{% load static %}
    <div class="concept-design-pricing-box">
                            <div class="title">
                                <h2>Web design & deveopment Pricing</h2>
                            </div>
                            <div class="inner-content">
                                <div class="row">
                                    <!--Start Single Flexible box-->
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="single-pricing-box wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                                            <div class="inner">
                                                <div class="img-box">
                                                    <img src="{% static 'ik/images/services/service-single/pricing-1.jpg' %}" alt="Awesome Image">
                                                </div>
                                                <div class="static-content text-center">
                                                    <div class="table-header">
                                                        <div class="top">
                                                            <h3>StartUp</h3>
                                                            <span><b>*</b>Static or dynamic website</span>
                                                        </div>
                                                        <div class="package">
                                                            <h1><span>MK</span>40 000</h1>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                    <div class="button">
                                                        <a class="btn-one" href="#">View Services<span class="flaticon-next"></span></a>
                                                    </div>
                                                </div>
                                                <div class="overlay-content">
                                                    <ul>
                                                        <li>5 Web Pages</li>
                                                        <li>Website Design</li>
                                                        <li>Premium Template</li>
                                                        <li>Basic SEO</li>
                                                        <li>Secured SSL</li>
                                                        
                                                    </ul>
                                                    <a class="btn-two" href="/contactus">Get Your Pack<span class="flaticon-next"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Single Flexible box-->
                                    <!--Start Single Flexible box-->
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="single-pricing-box wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                                            <div class="inner">
                                                <div class="img-box">
                                                    <img src="{% static 'ik/images/services/service-single/pricing-2.jpg' %}" alt="Awesome Image">
                                                </div>
                                                <div class="static-content text-center">
                                                    <div class="table-header">
                                                        <div class="top">
                                                            <h3>Business / NGO</h3>
                                                            <span><b>*</b>Dynamic website</span>
                                                        </div>
                                                        <div class="package">
                                                            <h1><span>MK</span>80 000</h1>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                    <div class="button">
                                                        <a class="btn-one" href="#">View Services<span class="flaticon-next"></span></a>
                                                    </div>
                                                </div>
                                                <div class="overlay-content">
                                                    <ul>
                                                        <li>10 Web Pages</li>
                                                        <li>Website Design</li>
                                                        <li>Premium Template</li>
                                                        <li>Basic SEO</li>
                                                        <li>Secured SSL</li>
                                                        
                                                    </ul>
                                                    <a class="btn-two" href="/contactus">Get Your Pack<span class="flaticon-next"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Single Flexible box-->
                                    <!--Start Single Flexible box-->
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="single-pricing-box wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                                            <div class="inner">
                                                <div class="img-box">
                                                    <img src="{% static 'ik/images/services/service-single/pricing-2.jpg' %}" alt="Awesome Image">
                                                </div>
                                                <div class="static-content text-center">
                                                    <div class="table-header">
                                                        <div class="top">
                                                            <h3>Professional</h3>
                                                            <span><b>*</b>Dynamic website</span>
                                                        </div>
                                                        <div class="package">
                                                            <h1><span>MK</span>100 000</h1>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                    <div class="button">
                                                        <a class="btn-one" href="#">View Services<span class="flaticon-next"></span></a>
                                                    </div>
                                                </div>
                                                <div class="overlay-content">
                                                    <ul>
                                                        <li>Up to 15 Pages</li>
                                                        <li>Website Design</li>
                                                        <li>Premium Template</li>
                                                        <li>Basic SEO</li>
                                                        <li>Secured SSL</li>
                                                        
                                                    </ul>
                                                    <a class="btn-two" href="/contactus">Get Your Pack<span class="flaticon-next"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Single Flexible box-->
                                    <!--Start Single Flexible box-->
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="single-pricing-box wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                                            <div class="inner">
                                                <div class="img-box">
                                                    <img src="{% static 'ik/images/services/service-single/pricing-2.jpg' %}" alt="Awesome Image">
                                                </div>
                                                <div class="static-content text-center">
                                                    <div class="table-header">
                                                        <div class="top">
                                                            <h3>eCommerce</h3>
                                                            <span><b>*</b>For small and large business</span>
                                                        </div>
                                                        <div class="package">
                                                            <h1><span>MK</span>100 000+</h1>
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                    <div class="button">
                                                        <a class="btn-one" href="#">View Services<span class="flaticon-next"></span></a>
                                                    </div>
                                                </div>
                                                <div class="overlay-content">
                                                    <ul>
                                                        <li>15 Pages plus</li>
                                                        <li>Website Design</li>
                                                        <li>Premium Template</li>
                                                        <li>Basic SEO</li>
                                                        <li>Secured SSL</li>
                                                        
                                                    </ul>
                                                    <a class="btn-two" href="/contactus">Get Your Pack<span class="flaticon-next"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Single Flexible box-->

                                </div>
                            </div>
                        </div>
