     <!--  ************************* What we do Starts Here ************************** -->
        <section class="wat-we-do row">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <i class="fas fa-globe"></i>
                        <br>
                        <b>Website design</b>
                        <p>Website design plays the same role as that of advertisements. Beauty and aesthetics used to display your products and services impresses customers.Our web design experts can design websites that suit your need and fit your budget.</p>
                    </div>
                     <div class="col-md-4 col-sm-6">
                        <i class="fas fa-globe"></i>
                        <br>
                        <b>Website Development</b>
                        <p>IKpixels has an expert team of Python (django) Programmers, which have good knowledge in Linux, Apache, MySQL,AJAX. We provide flexible, efficient and affordable python Application Development Services in the areas of dynamic web application development</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <i class="fas fa-globe"></i>
                        <br>
                        <b>Web Hosting</b>
                        <p>Our more basic hosting service inculdes small-scale file hosting, where small files can be uploaded via a web interface.A more complex service wich includes database support. We generaly provide this service for larger sites that require more storage space</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <i class="fas fa-cubes"></i>
                        <br>
                        <b>Print Design</b>
                        <p>We design Business cards,Branded packaging, labels and shopping bags, Brochures, Billboards, Book covers and interiors,Magazines and newspapers, Signage, Stationery, Greeting cards and invitations,Calendars, Posters, Menus and Banners.</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <i class="fas fa-globe"></i>
                        <br>
                        <b>E-commerce websites</b>
                        <p>We design an eCommerce website that will not only let you sell online, but help you promote and recommend your products.</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <i class="fab fa-envira"></i>
                        <br>
                        <b>Log Design</b>
                        <p>A quality logo  is the first step towards success.Grow your business on all channels with a credible and consistent brand.we design Wordmarks, Letterforms,monogram, symbols, Abstract, Mascots, Emblems and Dynamic logos.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- ######## What we Do End ####### -->