{% load static %}
<style type="text/css">
    .slogan-style2-area{
        background-image:url("{% static 'ik/images/ik/hero-bg.jpg' %}");
    }
</style>
<!--Start slogan style2 area-->
        <section class="slogan-style2-area">
            <div class="icon-holder">
                <span class="flaticon-car"></span>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content">
                            <div class="title">
                                <h1>Grow your business with<br> <span>ikpixels tech</span></h1>
                            </div>
                            <div class="button">
                                <a class="btn-one call-us" href="#"><i class="icon-music"></i>+265 993 344 416</a>
                                <a class="btn-one" href="/contactus">Get Quote for free<span class="flaticon-next"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End slogan style2 area-->