{% extends 'ik/homebase.html' %}
{% load static %}
{% block content %}


<style type="text/css">
    .services{
    color:white;
    background: url("{% static 'ikpixels/images/hero-bg.jpg' %}") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
.services .layy{
    background:rgb(0,0,0,0.8);
    height: 100%;
    width: 100%;
 
}

</style>

 <!--Start breadcrumb area-->
        <section class="breadcrumb-area style2 services" style="">
            <div class="layy">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content-box clearfix">
                            <div class="title-s2 text-center">
                                <span>Service</span>
                                <h1>Web development</h1>
                            </div>
                            <div class="breadcrumb-menu float-left">
                                <ul class="clearfix">
                                    <li><a href="/">Home</a></li>
                                    <li class="active">Service</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!--End breadcrumb area-->

        <!--Start Single Service Area-->
        <section class="single-service-area">
            <div class="container">
                <div class="row">
                    
                    <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                        <div class="single-service-top">
                            <div class="single-service-image-box">
                                <img src="{%static 'ik/images/ik/web1.gif' %}" alt="Awesome Image">
                            </div>
                            <div class="text">
                                <h2>Web and App Development</h2>
                                <div class="inner">
                                    <p>One of the most powerful tools to make an impact in the corporate industry is through online presence. Today business is no longer limited to particular city or regions. With the growth of internet usage, having a dynamic website of your own is sure to benefit your company and help you create lasting goodwill</p>
                                    <p>Dynamic Websites are database driven websites, like eCommerce, blog, forum, portal, member registration and login, etc. This type of website usually has a backend control panel through which administrator can manage the website contents, user accounts, products data, etc.</p>
                                    <p>IKpixels has an expert team of Python(django) Programmers, which have good knowledge in Linux, Apache, MySQL,AJAX. We provide flexible, efficient and affordable python Application Development Services in the areas of dynamic web application development.</p>
                                </div>
                            </div>
                        </div>

                        <div class="advantages-content">
                            <h4>SOME OF THE USEFUL TOOLS</h4><br>
                            <div class="row">
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-3 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">
                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                    <img height="45" src="{%static 'ik/images/ik/py1.png' %}">
                                                </div>
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <h4>Python</h4>
                                                        <hr><h4 style="color:white;">90%</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-3 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">
                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                    <img height="45" src="{%static 'ik/images/ik/django1.png' %}">
                                                </div>
                                                
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <h4>Django</h4>
                                                        <hr><h4 style="color:white;">75%</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-3 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">
                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                   <img height="45" src="{%static 'ik/images/ik/js1.png' %}">
                                                </div>
                                               
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <h4>Java Scripts</h4>
                                                        <hr><h4 style="color:white;">45%</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-3 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">
                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                    <img height="45" src="{%static 'ik/images/ik/flutter1.png' %}">
                                                </div>
                                             
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <h4>Flutter</h4>
                                                        <hr><h4 style="color:white;">25%</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
                        <div class="single-service-sidebar">
                            <!--Start Single sidebar-->
                            <div class="single-sidebar">
                                <ul class="service-pages">
                                    <li>
                                        <a href="/webdesign">
                                            <div class="title">
                                                <h3 class="static">Web Design</h3>
                                                <div class="overlay-title">
                                                    <h3>Web Design</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="#">
                                            <div class="title">
                                                <h3 class="static">Development</h3>
                                                <div class="overlay-title">
                                                    <h3>Development</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ser-make-overs.html">
                                            <div class="title">
                                                <h3 class="static">Branding</h3>
                                                <div class="overlay-title">
                                                    <h3>Branding</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    

                                </ul>
                            </div>
                            <!--End Single sidebar-->
                            <div class="sidebar-contact-box text-center">
                                <div class="inner-content">
                                    <div class="icon-holder">
                                        <span class="icon-support1"></span>
                                    </div>
                                    <h3>Consult with expert &<br> Start today</h3>
                                    <div class="bottom-box">
                                        <h2>+265 993 344 416</h2>
                                        <span>Email: ikpixels.py@gmail.com</span>
                                    </div>
                                    <div class="button">
                                        <a class="btn-one wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms" href="/contactus">Get A Quote
                                    <span class="flaticon-next"></span>
                                </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Single Service Area-->

{% endblock content %}