{% extends 'ik/homebase.html' %}
{% load static %}
{% block content %}

<style type="text/css">
    .services{
    color:white;
    background: url("{% static 'ikpixels/images/hero-bg.jpg' %}") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
.services .layy{
    background:rgb(0,0,0,0.8);
    height: 100%;
    width: 100%;
 
}

</style>

 <!--Start breadcrumb area-->
        <section class="breadcrumb-area style2 services" style="">
            <div class="layy">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content-box clearfix">
                            <div class="title-s2 text-center">
                                <span>Service</span>
                                <h1>Web design</h1>
                            </div>
                            <div class="breadcrumb-menu float-left">
                                <ul class="clearfix">
                                    <li><a href="/">Home</a></li>
                                    <li class="active">Service</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!--End breadcrumb area-->

        <!--Start Single Service Area-->
        <section class="single-service-area">
            <div class="container">
                <div class="row">
                    
                    <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                        <div class="single-service-top">
                            <div class="single-service-image-box">
                                <img height="46" src="{%static 'ik/images/ik/webd.gif' %}" alt="Awesome Image">
                            </div>
                            <div class="text">
                                <h2>Web Design</h2>
                                <div class="inner">
                                    <p class="text-justify">Website design plays the same role as that of advertisements. Beauty and aesthetics used to display your products and services impresses customers. This in turn compels them to explore the website further. Good content, easy-to-use features and worthwhile offers help to keep customers engaged and increase sales</p>
                                    <p class="text-justify">Our company, offers a crucial blend of expertise including creative conception, brand sensitivity, technical skill and design execution. We emphasize on attractive, informative and user friendly designs that create positive impressions for all your website visitors. We can incorporate any necessary graphics, special effects, flash works, audio and much more according to customer needs. Our web design experts can design websites that suit your need and fit your budget</p>





                          </div>
                            </div>
                        </div>

                        <div class="advantages-content">
                            <h4>SOME SPECIAL SERVICES</h4><br>
                            <div class="row">
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-3 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">

                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                    <span class="icon-cart"></span>
                                                </div>
                                                <div class="title">
                                                    <h3>eCommerce Website</h3>
                                                </div>
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <p>We design an eCommerce website that will not only let you sell online, but help you promote and recommend your products.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-3 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">
                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                    <span class="icon-global"></span>
                                                </div>
                                                <div class="title">
                                                    <h3>Business <br> Website</h3>
                                                </div>
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <p>A suitable business website help you get listed among several potential customers.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-3 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">
                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                    <span class="icon-hr"></span>
                                                </div>
                                                <div class="title">
                                                    <h3>Discussion <br> Forums</h3>
                                                </div>
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <p>Do you want to engage your website visitors in conversation, allow them to post topics, responses, involve them in online.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                                <!--Start Single Advantages Box-->
                                <div class="col-xl-3 col-lg-6 col-md-6">
                                    <div class="single-advantages-box">
                                        <div class="inner">
                                            <div class="static-content">
                                                <div class="icon-holder">
                                                    <span class="icon-global"></span>
                                                </div>
                                                <div class="title">
                                                    <h3>Custom Web <br> Design</h3>
                                                </div>
                                            </div>
                                            <div class="overlay-text">
                                                <div class="box">
                                                    <div class="inner-text">
                                                        <p>Get nice website at a Reasonable price</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Single Advantages Box-->
                            </div>
                        </div>

         
                        {% include 'ik/price.html' %}
                    
                    </div>

                    <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
                        <div class="single-service-sidebar">
                            <!--Start Single sidebar-->
                            <div class="single-sidebar">
                                <ul class="service-pages">
                                    <li class="active">
                                        <a href="/webdesign">
                                            <div class="title">
                                                <h3 class="static">Web Design</h3>
                                                <div class="overlay-title">
                                                    <h3>Web Design</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li >
                                        <a href="#">
                                            <div class="title">
                                                <h3 class="static">Development</h3>
                                                <div class="overlay-title">
                                                    <h3>Development</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ser-make-overs.html">
                                            <div class="title">
                                                <h3 class="static">Branding</h3>
                                                <div class="overlay-title">
                                                    <h3>Branding</h3>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    

                                </ul>
                            </div>
                            <!--End Single sidebar-->
                            <div class="sidebar-contact-box text-center">
                                <div class="inner-content">
                                    <div class="icon-holder">
                                        <span class="icon-support1"></span>
                                    </div>
                                    <h3>Consult with expert &<br> Start today</h3>
                                    <div class="bottom-box">
                                        <h2>+265 993 344 416</h2>
                                        <span>Email: ikpixels.py@gmail.com</span>
                                    </div>
                                    <div class="button">
                                        <a class="btn-one wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms" href="/contactus">Get A Quote
                                    <span class="flaticon-next"></span>
                                </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Single Service Area-->

{% endblock content %}