{% load static %}



<section >
	<div style="background-color:red;color:white;padding:5px;border-radius:5px;">
		<h1><strong>IKPIXELS-TECH | Payment done!!</strong></h1>
	</div>
	<div>
		<p>Hie {{customer}} !</p>
		<p>Thank you for your payment you made via {{pymt}}.Amount paid MKW {{amount}}</p>
		<p>We will confirm your payment shortly.Keep on tracking your order to see order status.</p>
		
		<p>Regards!</p>
		<hr>
		<ul>
			<li>Isaac Kakodwa (Main Programer)</li>
			<li>+(265) 993 344 416 | +(265) 882 935 706 </li>
			<li>kakodwaisaac@gmail.com</li>
		</ul>
	</div>
</section>